<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  h1 {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 0;
  }
  p {
    margin: 0;
    padding: 10px;
  }
  strong {
    color: #f00;
  }
</style>
<body>
  <h1>Form Output</h1>
  <p>Your name is <strong>{{name}}</strong></p>
  <p>Your email is <strong>{{email}}</strong></p>
</body>
</html>